{% extends "main.twig" %}

{% block headerLinks %}
	<link rel="stylesheet" href="{{ url('stylesheets/auth.css') }}">
	<script src="{{ url('javascripts/login.js') }}" defer></script>
{% endblock %}

{% block pageContent %}
	<div id="loginBlock">
		<img id="logo" src="{{ url('img/logo.png') }}" alt="logo astride">

		<hr class="half">

		<h1>Login as athlete</h1>

		<form action="{{ url('login') }}" method="post">
			<div>
				<label class="important" for="email">Email</label>
				<input {% if errors.mail %} class="errorInput" {% endif %} type="email" value="{{ email }}" autocomplete="email" name="email" id="email">
				{% if errors.mail %}
					<p class="error">Email not valid</p>
				{% endif %}
			</div>

			<div>
				<label class="important" for="password">Password</label>
				<div class="passwordBox">
					<button tabindex="-1" data-visible="false" id="seePassword">
						<svg class="MuiSvgIcon-root MuiSvgIcon-fontSizeMedium MuiBox-root css-uqopch" focusable="false" aria-hidden="true" viewbox="0 0 24 24" data-testid="VisibilityIcon">
							<path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"></path>
						</svg>
					</button>
					<input {% if errors.password %} class="errorInput" {% endif %} type="password" autocomplete="current-password" name="password" id="password">
				</div>
				{% if errors.password %}
					<p class="error">Password not valid</p>
				{% endif %}
			</div>

			<input type="hidden" name="moduleAction" value="submitLogin">
			<input type="submit" value="Log in">
		</form>
		<p>Don't have an account yet?
			<a class="second actionLink" href="{{ url("register") }}">Register here</a>
		</p>

		<p class="half">Are you a trainer?
			<a class="second actionLink" href="{{ url("trainer/login") }}">Login here</a>
		</p>
	</div>
{% endblock %}
