<header>
	<a id="logo" href="{{ url('') }}">
		<img src="{{ url('img/logo.png') }}" alt="logo Astride for header">
	</a>
	<button data-active="false" id="hamburger">
		<span></span>
		<span></span>
		<span></span>
	</button>
	{% if athlete %}
		<ul class="menu-options">
			<li>
				<a href="{{ url('') }}">
					<span class="material-symbols-outlined">home</span>
					Dashboard</a>
				<hr>
			</li>
			<li>
				<a href="{{ url('trainers') }}">
					<span class="material-symbols-outlined">person</span>
					Search trainers</a>
				<hr>
			</li>
			<li>
				<a href="{{ url('my-profile') }}">
					<span class="material-symbols-outlined">search</span>
					My profile</a>
				<hr>
			</li>
			<li class="logout-header">
				<a href="{{ url('logout') }}">Logout</a>
			</li>
		</ul>
	{% else %}
		<ul class="menu-options">
			<li>
				<a href="{{ url('') }}">
					<span class="material-symbols-outlined">home</span>
					Dashboard</a>
				<hr>
			</li>
			<li>
				<a href="{{ url('my-athletes') }}">
					<span class="material-symbols-outlined">groups</span>
					My athletes</a>
				<hr>
			</li>
			<li>
				<a href="{{ url('my-profile') }}">
					<span class="material-symbols-outlined">search</span>
					My profile</a>
				<hr>
			</li>
			<li class="logout-header">
				<a href="{{ url('logout') }}">Logout</a>
			</li>
		</ul>
	{% endif %}
</header>
